
.btn1:link,
.btn1:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:10px 20px;
  border-radius:100px;
  display:inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-white{
  background:#fff;
  color:#000;
}

.btn1:hover{
   
   -webkit-transform : translateY(-3px);
   
           transform : translateY(-3px);
}

.btn1:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  -webkit-transform:translateY(-1px);
          transform:translateY(-1px);
}

.btn-bottom-animation-1{
  -webkit-animation:comeFromBottom 1s ease-out .8s;
          animation:comeFromBottom 1s ease-out .8s;
}

.btn1::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@-webkit-keyframes comeFromBottom{
  0%{
    opacity:0;
    -webkit-transform:translateY(40px);
            transform:translateY(40px);
  } 
  100%{
    opacity:1;
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    -webkit-transform:translateY(40px);
            transform:translateY(40px);
  } 
  100%{
    opacity:1;
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
}
